@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Docking Platform 10-W-709, Spacestation Epsilon<br />
    Sector 27R, Milky Way Galaxy<br />
    <abbr title="Communication Frequency">P:</abbr>
    17.463.3521.901
</address>

<address>
    <strong>Support:</strong>   <a href="#">S@example.com</a><br />
    <strong>Marketing:</strong> <a href="#"></a>
</address>