@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Saturn Spaceship Superstore</h1>
    <p>
        Welcome to the Saturn Spaceship Superstore! We sell all of the latest spaceships!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Variety</h2>
        <p>
            From single-seat starighters to massive fleet-leading battleships,
            we have everything you need!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Spare Parts</h2>
        <p>Need to make some adjustments/improvements? We have a variety of warp drives 
        and other various parts you need to improve your Starship.</p>
        <p><a class="btn btn-default" href="">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download the app</h2>
        <p>Is there a Saturn Spaceship Superstore in your sectar of the galaxy? Download our app
        so that we're with you no matter where you go!</p>
        <p><a class="btn btn-default" href="">Download &raquo;</a></p>
    </div>
</div>